/* CSS Document */
@charset "UTF-8";

html, body {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    height: 100%;
}

header {
    height: 40px;
    width: 100%;
    background-color: #414287;
    color: #ffffffd5;
    padding-top: 5px;
    display: flex;;
}

header img {
    width: 35%;
    padding-left: 0;
}

header p {
    margin-left: 0;
    margin-top: 0;
    padding-left: 0;
}

.logo {
    flex: left;
    width: 5%;
    text-align: center;
}

.epicare {
    flex: right;
    width: 95%;
}

.container-main {
    display: flex;
}

nav {
    flex: 1;
    background-color: #ffffffd5;
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.1);
    color: #414287;
    padding-left: 0;
    height: 100vh;
}

nav li {
    margin-top: 5%;;
}

nav li :hover {
    background-color: rgba(65, 66, 135, 0.5);
    border-top-right-radius: 30px; 
    border-bottom-right-radius: 30px;
    margin-left: 0;
    margin-right: 20%;
    padding-left: 20%;
}

.nav-link.active {
    background-color: rgba(65, 66, 135, 0.5);
    border-top-right-radius: 30px; 
    border-bottom-right-radius: 30px;
    margin-left: 0;
    margin-right: 20%;
    padding-left: 20%;
}

nav ul {
    margin-top: 40%;;
}

main {
    flex: 8;
}

#add-message {
    float: right;
    margin-right: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
}

h2 {
    margin-top: 3%;
    margin-bottom: 3%;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin-bottom: 20px;
    margin-left: 10%;
    margin-right: 10%;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #414287;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Style for the "Add Message" button */
.add-message-btn {
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 20px auto;
}
 #saveButton {
    margin: 3%;
    float: right;
 }

footer {
    background-color: #414287;
    margin-bottom: 0;
    color: #ffffffd5;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.social {
    float: right;
    width: 15%;
    margin-top: 1%;
}

.social i {
    color: #ffffffd5;
    font-size: 20px;
    padding-left: 5%;
    padding-right: 5%;
}